
/*FONTS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poiret+One);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*RESETS*/
html, body, div, table, p, ul, li{
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ul{
	list-style: none;
}

/* GRID */

.site-wrap {
  height: 100%;
  width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 1rem 3.5rem;
  overflow: ;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="mobile-col"],  [class*="desktop-col"]{
    float: left;
    padding: 0 15px;
}
@media (max-width: 768px) {
	.mobile-col-1 {width: 8.33%;}
	.mobile-col-2 {width: 16.66%;}
	.mobile-col-3 {width: 25%;}
	.mobile-col-4 {width: 33.33%;}
	.mobile-col-5 {width: 41.66%;}
	.mobile-col-6 {width: 50%;}
	.mobile-col-7 {width: 58.33%;}
	.mobile-col-8 {width: 66.66%;}
	.mobile-col-9 {width: 75%;}
	.mobile-col-10 {width: 83.33%;}
	.mobile-col-11 {width: 91.66%;}
	.mobile-col-12 {width: 100%;}

	.mobile-col-offset-1 {margin-left: 8.33%;}
	.mobile-col-offset-2 {margin-left: 16.66%;}
	.mobile-col-offset-3 {margin-left: 25%;}
	.mobile-col-offset-4 {margin-left: 33.33%;}
	.mobile-col-offset-5 {margin-left: 41.66%;}
	.mobile-col-offset-6 {margin-left: 50%;}
	.mobile-col-offset-7 {margin-left: 58.33%;}
	.mobile-col-offset-8 {margin-left: 66.66%;}
	.mobile-col-offset-9 {margin-left: 75%;}
	.mobile-col-offset-10 {margin-left: 83.33%;}
	.mobile-col-offset-11 {margin-left: 91.66%;}
	.mobile-col-offset-12 {margin-left: 100%;}
}

@media (min-width: 769px) {
	.desktop-col-1 {width: 8.33%;}
	.desktop-col-2 {width: 16.66%;}
	.desktop-col-3 {width: 25%;}
	.desktop-col-4 {width: 33.33%;}
	.desktop-col-5 {width: 41.66%;}
	.desktop-col-6 {width: 50%;}
	.desktop-col-7 {width: 58.33%;}
	.desktop-col-8 {width: 66.66%;}
	.desktop-col-9 {width: 75%;}
	.desktop-col-10 {width: 83.33%;}
	.desktop-col-11 {width: 91.66%;}
	.desktop-col-12 {width: 100%;}

	.desktop-col-offset-1 {margin-left: 8.33%;}
	.desktop-col-offset-2 {margin-left: 16.66%;}
	.desktop-col-offset-3 {margin-left: 25%;}
	.desktop-col-offset-4 {margin-left: 33.33%;}
	.desktop-col-offset-5 {margin-left: 41.66%;}
	.desktop-col-offset-6 {margin-left: 50%;}
	.desktop-col-offset-7 {margin-left: 58.33%;}
	.desktop-col-offset-8 {margin-left: 66.66%;}
	.desktop-col-offset-9 {margin-left: 75%;}
	.desktop-col-offset-10 {margin-left: 83.33%;}
	.desktop-col-offset-11 {margin-left: 91.66%;}
	.desktop-col-offset-12 {margin-left: 100%;}
}

/*COLOURS*/

h1, h2{
	color:#7F7D7D;
}
p, ul, li{
	color: #555;
}
strong {
 	color: #333;
}
hr{
	border-top-color: #33cc33;
}
nav a:hover {
  background-color: #85e085;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
/*TEXT*/

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	background: #FCFEFF;
	overflow-x: hidden; /* Without this, the body has excess horizontal scroll when the menu is open */
}

h1, h2{
	margin: 1em 0;
	line-height: 1em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 3em;
}
strong{
	font-weight: 700;
}

p, ul, li{
	letter-spacing: 0.002rem;
	line-height: 1.5em;
}
p{
	padding: 0.5rem 0;
}
th{
	font-weight: 900;
}
img{
	max-width: 100%;
}
/* HEADER */

.banner-header{
	width: calc(100% - 7rem);
	height: 30vh;
	background-image: url('../images/banner-image.jpg');
	margin: auto;
	background-repeat: no-repeat;
    background-position: center; 
    margin-bottom: 3.5rem;
    padding-top: 10vh;
}

.banner-header-text h1{
	color: #7F7D7D;
	text-align: center;

}
.banner-header-text{
	box-shadow: 0px 0px 0px 12px rgb(255, 217, 0);
    display: inherit;
    margin: auto;
    text-align: center;
    width: 30vw;
    background-color: white;
}
/* MOBILE NAVIGATION */

/* Navigation Menu - Background */
.navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

/* Navigation Menu - List items */
.nav-item {
	-webkit-box-shadow: inset 14px 3px 0px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 14px 3px 0px -3px rgba(0,0,0,0.75);
	box-shadow: inset 14px 3px 0px -3px rgba(0,0,0,0.75);
}

.nav-item-selected{
	-webkit-box-shadow: inset 14px 3px 0px -3px rgb(255, 217, 0);
	-moz-box-shadow: inset 14px 3px 0px -3px rgb(255, 217, 0);
	box-shadow: inset 14px 3px 0px -3px rgb(255, 217, 0);
}

.nav-item a {
  display: block;
  padding: 1em;
  color: #212121;
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}

.nav-item a:hover {
  background: rgba(255, 217, 0, 1);
}



/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}
/* defines how the wrapped site looks when .nav-trigger:checked */
.nav-trigger:checked ~ .site-wrap {
	left: 200px;
}

/* CONTENT BOX */
.content-box > div > h2{
	margin: 0.5rem 0;
}

.content-box{
	text-decoration: none;
}
.content-box > div:hover h2{
	transition: .5s color;
	color: rgb(255, 217, 0);
}

.content-box > div > img{
	padding: 2vw;
	transition: .5s filter;
	filter: sepia() saturate(1) hue-rotate(154deg);
}

.content-box > div > img:hover, .content-box > div > img:focus, .content-box > div:hover img, .content-box > div:focus img{
	filter: none;
}

/* Mobile styles */
@media (max-width: 768px) {
	html{
		font-size: 12px;
	}
	.banner-header{
		height: 350px;
		width: 100%;
	}
	.banner-header-text{
		width: 100%;
	}
}

/* Desktop styles */
@media (min-width: 769px) {
	.site{
		
	}
}